<!-- <favorite [is-fav]="post.isFav" (change)="onFavChanged($event)"></favorite>

<bootstrap-panel>
	<ng-container class="heading">Heading</ng-container>
	<div class="body">
		<h2>Body</h2>
		<p>Content goes here ....</p>
	</div>
</bootstrap-panel> -->

<like
[likeCount]="tweet.likeCount"
[isActive]="tweet.isActive"
></like>

<div *ngIf=" courses.length > 0; then listcourses else noCourses">

</div>

<ng-template #listcourses>
	There are ccourses
</ng-template>

<ng-template #noCourses>
	There are no courses.
</ng-template>