<div class="row">
  <div class="col-sm-4">
      <span class="glyphicon"
      [class.glyphicon-star] = "!isEmpty"
      [class.glyphicon-star-empty]="isEmpty"
 (click)="toggle()"></span>
  </div>  

</div>
